.center-box{
	width: 610px;
	margin: 0 auto;
}
.notes{
	height: 800px;
	background-color: #fff;
	
}
.tel-table{
	text-align: center;
	overflow: hidden;
}
.tel-table>h1{
	color: #e94b59;
	margin-top: 40px;
	margin-bottom: 20px;
}
.tel-table>p{
	font-size: 16px;
}
#form{
	width: 100%;
}
#form td{
	padding: 10px 0; 
}
#form td:nth-of-type(1){
	font-size: 20px;
}
#form td:nth-of-type(2){
	text-align: left;
	font-size: 16px;
	color: #999;
	padding-top: 15px;
}
#form td:nth-of-type(2)>input{
	width: 460px;
	border: none;
	border-bottom: 1px solid #999;
}
#form td:nth-of-type(2) ul li{
	float: left;
	margin-right: 80px;
	margin-bottom: 5px;
}
#other>input:nth-of-type(2){
	width: 342px;
}
#form td:nth-of-type(2) span{
	margin-right: 30px;
}
#form td:nth-of-type(2) textarea{
	resize: none;
	width: 460px;
	height: 165px;
}
#form tr:last-child {
	text-align: right;
}
#form button{
	margin-right: 30px;
	color: #fff;
	font-size: 20px;
	border: none;
	padding: 10px 30px;
	background-color: #ff6563;
	border-radius: 5px;
}